<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <h1>Our from Example</h1>

    <form action = "/process" method = "POST">
    
    <label for="fer">FIRST NAME</label>
    <input type="text" name="firster" id= "fer" placeholder= "First name">

    <label for="ler">LAST NAME</label>
    <input type="text" name="laster" id= "ler" placeholder= "Last name">

    <input type = "submit">
    </form>
</body>
</html>
